* {
  margin: 0px; /* Fjerner standard margin for alle elementer */
  padding: 0px; /* Fjerner standard padding for alle elementer */
  box-sizing: border-box;
}

p {
  margin: 40px 0 0 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

img {
  width: 100%;
  height: auto;
}

a {
  font-family: "Staatliches", serif;
}

h1 {
  font-family: "Staatliches", serif;
  font-size: 40px;
  color: black;
  text-align: center;
  margin: 30px 0 30px 0;
}

h2 {
  font-family: "Staatliches", serif;
  font-size: 30px;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 30px;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0 30px 0;
  font-weight: lighter;
}

li a {
  /* padding: 5px 0 5px 0; */
  font-size: 30px;
}

.left {
  margin-right: auto;
}

main {
  margin: 0 20px 0 20px;
}

/*************** GENERELLE INDSTILLINGER *********************/

/*************** HEADER / MENU START *********************/

.menu {
  display: flex; /* Gør menuen horisontal */
  list-style: none; /* Fjerner punkttegn fra listeelementer */
  margin: 20px 0 0 0;
  padding: 0;
}

.menu a {
  display: block; /* Gør links til blokke for et bedre klikområde */
  padding: 0 20px 0 20px; /* Tilføjer indre padding for bedre klikområde */
  color: black; /* Sætter linkfarve/skriftfarve */
  text-decoration: none; /* Fjerner understregning fra links */
}

.menu a:hover {
  color: grey; /* Ændrer farve ved hover for bedre brugervenlighed- og oplevelse */
}

.burger {
  width: 30px; /* Bredden på burgerikonet */
  height: 20px; /* Højden på burgerikonet */
  cursor: pointer; /* Gør ikonet klikbart */
  margin: 20px 20px 0;
}

.burger .line {
  width: 100%; /* Sikre at linjer fylder hele bredden */
  height: 3px; /* Linjetykkelse */
  background-color: black; /* Linjefarve */
  margin-bottom: 5px; /* Afstanden mellem linjerne */
  transition: 0.2s linear; /* Glidende overgang for animation */
  border-radius: 10px; /* Rundede hjørner for et blødere udtryk */
}

.burger {
  display: none; /* Gør burgermenu usynlig på desktop view */
}

@media (max-width: 900px) {
  .menu {
    display: none; /* Gør menuen horisontal */
  }

  .burger {
    display: block; /* Gør burgermenu synlig på mobil view */
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px); /* Rotere første linje for at skabe et X */
    transition: 0.2s linear; /* Glidende overgang for animationen */
  }

  .burger.active .line:nth-child(2) {
    opacity: 0; /* Skjuler midterlinjen */
    transition: 0.15s linear; /* Hastigheden på overgangen fra linjer til X */
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px); /* Roterer tredje linje for at skabe et X */
    transition: 0.2s linear; /* Glidende overgang for animationen */
  }

  nav.active .menu {
    display: block; /* Gør menuen synlig, når der trykkes på burgerikonet */
    background-color: white; /* Baggrundsfarven for menuen */
    position: absolute; /* Placerer menuen ovenover andet indhold (fx header og logo) */
    top: 55px; /* Får menuen til at udfolde sig lige under headeren */
    right: 0;
    left: 0;
    width: 100%; /* Gør menuen fuldbredde */
    z-index: 1; /* Gør menuen vises ovenover alt andet indhold */
  }

  nav.active .menu li {
    margin: 10px 20px; /* Tilføjer lidt luft mellem menu muligheder */
  }

  nav.active .menu a {
    font-size: 24px; /* Skriftstørrelse for menuen */
  }
}

/*************** HEADER / MENU SLUT *********************/

/*************** FOOTER START *********************/

.footer {
  background-color: black;
  color: white;
  padding: 20px 20px 20px 20px;
  margin-top: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.footer_social_media {
  list-style: none; /* Fjerner prikker ud for */
  padding: 0;
  margin: 0;
}

.footer_social_media img {
  width: 20px; /* Størrelse på ikonerne, ensartet størrelse */
  height: auto; /* Bevarer proportioner */
}

/*************** FOOTER SLUT *********************/

/*************** INDEX START *********************/

.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.category_list_container a {
  color: white;
  font-size: 20px;
  background-color: #cfcbc6;
  text-decoration: none;
  padding: 45px;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-row: span 2;
}

.category_list_container a:hover {
  background-color: #bab6b2;
}

.index-img {
  margin: 40px 0 40px 0;
}

@media (min-width: 900px) {
  .category_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .index-img {
    display: grid;
    margin: 70px 0 40px 0;
    width: 400px;
  }
}

/*************** INDEX SLUT *********************/

/*************** PRODUCTLIST START *********************/

.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
}

.product_list_container a {
  display: grid;
  grid-template-columns: subgrid;
  color: black;
  text-decoration: none;
  padding: 10px;
  border: 0.5px solid black;
}

article {
  display: grid;
  grid-template-columns: subgrid;
}

.product_list_container a:hover {
  transform: scale(1.01);
}

@media (min-width: 900px) {
  .product_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*************** PRODUCTLIST SLUT *********************/

/*************** PRODUCT START *********************/

.product_view {
  display: grid;
  margin: 50px 0 0 0;
}

.product_info {
  color: black;
  text-decoration: none;
  margin: 20px 0 0 0;
}

.tilbud {
  background-color: lightgreen;
  width: 50px;
  margin: 20px 0 0 0;
  visibility: hidden;
  font-size: 20px;
}

.udsolgt {
  background-color: rgb(255, 48, 48);
  width: 65px;
  visibility: hidden;
  margin: 10px 0 20px 0;
  font-size: 20px;
}

.isOnSale {
  visibility: visible;
}

.soldOut {
  visibility: visible;
}

.size_selector {
  margin: 30px 0 0 0;
}

.add_basket a {
  display: grid;
  background-color: #000000;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 300px;
  height: 50px;
}

.add_basket a:hover {
  background-color: grey;
}

@media (min-width: 900px) {
  .product_view section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product_info {
    margin: 0 0 0 30px;
  }
}

/*************** PRODUCT SLUT *********************/
